# --- Entorno virtual ---
venv/
ENV/
env/

# --- Archivos de configuración del sistema ---
*.pyc
__pycache__/
*.pyo
*.pyd

# --- Archivos temporales / cachés ---
*.log
*.tmp
*.bak
*.swp

# --- Configuración de IDEs ---
.vscode/
.idea/

# --- Otros archivos que no quieras subir ---
.DS_Store
Thumbs.db
